USE [master]
GO
/****** Object:  Database [ConsultoriaSystem]    Script Date: 18/12/2025 21:31:04 ******/
CREATE DATABASE [ConsultoriaSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConsultoriaSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ConsultoriaSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConsultoriaSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ConsultoriaSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConsultoriaSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConsultoriaSystem]
GO
/****** Object:  Table [dbo].[Consultores]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultores](
	[ConsultorId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[AreaEspecializacion] [nvarchar](100) NOT NULL,
	[TarifaHora] [decimal](10, 2) NOT NULL,
	[EmailCorporativo] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultorPaquete]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultorPaquete](
	[ConsultorPaqueteId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultorId] [int] NOT NULL,
	[PaqueteId] [int] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultorPaqueteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaquetesServicio]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaquetesServicio](
	[PaqueteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[DuracionHoras] [int] NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaqueteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Consultores] ON 

INSERT [dbo].[Consultores] ([ConsultorId], [Nombre], [AreaEspecializacion], [TarifaHora], [EmailCorporativo], [Activo], [FechaIngreso]) VALUES (1, N'Daniel Perez', N'Desarrollo', CAST(30.00 AS Decimal(10, 2)), N'daniel@consultoria.com', 1, CAST(N'2025-12-18T12:48:37.063' AS DateTime))
INSERT [dbo].[Consultores] ([ConsultorId], [Nombre], [AreaEspecializacion], [TarifaHora], [EmailCorporativo], [Activo], [FechaIngreso]) VALUES (2, N'Juan Perez', N'Desarrollo', CAST(40.00 AS Decimal(10, 2)), N'juan@consultoria.com', 0, CAST(N'2025-12-18T12:49:15.053' AS DateTime))
INSERT [dbo].[Consultores] ([ConsultorId], [Nombre], [AreaEspecializacion], [TarifaHora], [EmailCorporativo], [Activo], [FechaIngreso]) VALUES (3, N'Juan Posada', N'Desarrollo Backend', CAST(40.00 AS Decimal(10, 2)), N'juan.posada@consultoria.com', 1, CAST(N'2025-12-18T15:40:18.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[Consultores] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultorPaquete] ON 

INSERT [dbo].[ConsultorPaquete] ([ConsultorPaqueteId], [ConsultorId], [PaqueteId], [FechaAsignacion], [Activo]) VALUES (1, 1, 1, CAST(N'2025-12-18T15:40:18.733' AS DateTime), 1)
INSERT [dbo].[ConsultorPaquete] ([ConsultorPaqueteId], [ConsultorId], [PaqueteId], [FechaAsignacion], [Activo]) VALUES (2, 1, 2, CAST(N'2025-12-18T15:40:18.733' AS DateTime), 1)
INSERT [dbo].[ConsultorPaquete] ([ConsultorPaqueteId], [ConsultorId], [PaqueteId], [FechaAsignacion], [Activo]) VALUES (3, 1, 3, CAST(N'2025-12-18T15:40:18.733' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ConsultorPaquete] OFF
GO
SET IDENTITY_INSERT [dbo].[PaquetesServicio] ON 

INSERT [dbo].[PaquetesServicio] ([PaqueteId], [Nombre], [DuracionHoras], [Costo], [Descripcion], [Activo], [FechaCreacion]) VALUES (1, N'Desarrollo .NEt', 30, CAST(1500.00 AS Decimal(10, 2)), N'Tenemos desarrollo .net', 1, CAST(N'2025-12-18T12:52:48.003' AS DateTime))
INSERT [dbo].[PaquetesServicio] ([PaqueteId], [Nombre], [DuracionHoras], [Costo], [Descripcion], [Activo], [FechaCreacion]) VALUES (2, N'Diagnóstico Inicial', 2, CAST(50.00 AS Decimal(10, 2)), N'Evaluación preliminar del problema', 1, CAST(N'2025-12-18T15:40:18.727' AS DateTime))
INSERT [dbo].[PaquetesServicio] ([PaqueteId], [Nombre], [DuracionHoras], [Costo], [Descripcion], [Activo], [FechaCreacion]) VALUES (3, N'Optimización de Procesos', 6, CAST(200.00 AS Decimal(10, 2)), N'Mejora de procesos internos', 1, CAST(N'2025-12-18T15:40:18.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaquetesServicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioId], [Email], [PasswordHash], [Rol], [Activo], [FechaCreacion]) VALUES (1, N'admin@demo.com', N'Admin.123', N'Admin', 1, CAST(N'2025-12-18T12:46:06.460' AS DateTime))
INSERT [dbo].[Usuarios] ([UsuarioId], [Email], [PasswordHash], [Rol], [Activo], [FechaCreacion]) VALUES (2, N'user@demo.com', N'User.123', N'User', 1, CAST(N'2025-12-18T12:46:06.467' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ_ConsultorPaquete]    Script Date: 18/12/2025 21:31:04 ******/
ALTER TABLE [dbo].[ConsultorPaquete] ADD  CONSTRAINT [UQ_ConsultorPaquete] UNIQUE NONCLUSTERED 
(
	[ConsultorId] ASC,
	[PaqueteId] ASC,
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Paquetes__75E3EFCF46531E28]    Script Date: 18/12/2025 21:31:04 ******/
ALTER TABLE [dbo].[PaquetesServicio] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D10534F58E18F0]    Script Date: 18/12/2025 21:31:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Consultores] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[ConsultorPaquete] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[ConsultorPaquete] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PaquetesServicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PaquetesServicio] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ConsultorPaquete]  WITH CHECK ADD  CONSTRAINT [FK_ConsultorPaquete_Consultores] FOREIGN KEY([ConsultorId])
REFERENCES [dbo].[Consultores] ([ConsultorId])
GO
ALTER TABLE [dbo].[ConsultorPaquete] CHECK CONSTRAINT [FK_ConsultorPaquete_Consultores]
GO
ALTER TABLE [dbo].[ConsultorPaquete]  WITH CHECK ADD  CONSTRAINT [FK_ConsultorPaquete_PaquetesServicio] FOREIGN KEY([PaqueteId])
REFERENCES [dbo].[PaquetesServicio] ([PaqueteId])
GO
ALTER TABLE [dbo].[ConsultorPaquete] CHECK CONSTRAINT [FK_ConsultorPaquete_PaquetesServicio]
GO
ALTER TABLE [dbo].[Consultores]  WITH CHECK ADD  CONSTRAINT [CK_Consultor_TarifaHora] CHECK  (([TarifaHora]>=(30) AND [TarifaHora]<=(200)))
GO
ALTER TABLE [dbo].[Consultores] CHECK CONSTRAINT [CK_Consultor_TarifaHora]
GO
ALTER TABLE [dbo].[PaquetesServicio]  WITH CHECK ADD  CONSTRAINT [CK_Paquete_Costo] CHECK  (([Costo]>(0)))
GO
ALTER TABLE [dbo].[PaquetesServicio] CHECK CONSTRAINT [CK_Paquete_Costo]
GO
ALTER TABLE [dbo].[PaquetesServicio]  WITH CHECK ADD  CONSTRAINT [CK_Paquete_Duracion] CHECK  (([DuracionHoras]>(0)))
GO
ALTER TABLE [dbo].[PaquetesServicio] CHECK CONSTRAINT [CK_Paquete_Duracion]
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_Delete]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- DELETE (LÓGICO)
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Consultores_Delete]
    @ConsultorId INT
AS
BEGIN
    UPDATE Consultores
    SET Activo = 0
    WHERE ConsultorId = @ConsultorId
      AND Activo = 1; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_EmailExists]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Consultores_EmailExists]
    @EmailCorporativo NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(1)
    FROM Consultores
    WHERE EmailCorporativo = @EmailCorporativo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_GetAll]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- GET ALL
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Consultores_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Consultores
    WHERE Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_GetById]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- GET BY ID
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Consultores_GetById]
    @ConsultorId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Consultores
    WHERE ConsultorId = @ConsultorId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_Insert]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ==========================================================
   CONSULTORES (CRUD)
   ========================================================== */

--------------------------------------------------------------
-- INSERT
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Consultores_Insert]
    @Nombre NVARCHAR(150),
    @AreaEspecializacion NVARCHAR(100),
    @TarifaHora DECIMAL(10,2),
    @EmailCorporativo NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Consultores (Nombre, AreaEspecializacion, TarifaHora, EmailCorporativo, Activo, FechaIngreso)
    VALUES (@Nombre, @AreaEspecializacion, @TarifaHora, @EmailCorporativo, 1, GETDATE());

    SELECT SCOPE_IDENTITY() AS ConsultorId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_NombreAreaExists]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Consultores_NombreAreaExists]
    @Nombre NVARCHAR(150),
    @AreaEspecializacion NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(1)
    FROM Consultores
    WHERE Nombre = @Nombre
      AND AreaEspecializacion = @AreaEspecializacion;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Consultores_Update]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- UPDATE
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Consultores_Update]
    @ConsultorId INT,
    @Nombre NVARCHAR(150),
    @AreaEspecializacion NVARCHAR(100),
    @TarifaHora DECIMAL(10,2),
    @EmailCorporativo NVARCHAR(150),
    @Activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Consultores
    SET Nombre = @Nombre,
        AreaEspecializacion = @AreaEspecializacion,
        TarifaHora = @TarifaHora,
        EmailCorporativo = @EmailCorporativo,
        Activo = @Activo
    WHERE ConsultorId = @ConsultorId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultorPaquete_Asignar]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsultorPaquete_Asignar]
    @ConsultorId INT,
    @PaqueteId   INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Validar consultor activo
    IF NOT EXISTS (
        SELECT 1 
        FROM Consultores 
        WHERE ConsultorId = @ConsultorId 
          AND Activo = 1
    )
    BEGIN
        RAISERROR('El consultor no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    -- 2) Validar paquete activo
    IF NOT EXISTS (
        SELECT 1 
        FROM PaquetesServicio 
        WHERE PaqueteId = @PaqueteId 
          AND Activo = 1
    )
    BEGIN
        RAISERROR('El paquete no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    -- 3) Validar que no tenga más de 5 paquetes activos
    IF (
        SELECT COUNT(*) 
        FROM ConsultorPaquete 
        WHERE ConsultorId = @ConsultorId 
          AND Activo = 1
    ) >= 5
    BEGIN
        RAISERROR('El consultor ya tiene el máximo de 5 paquetes asignados.', 16, 1);
        RETURN;
    END;

    -- 4) Evitar duplicar el mismo paquete activo
    IF EXISTS (
        SELECT 1
        FROM ConsultorPaquete
        WHERE ConsultorId = @ConsultorId
          AND PaqueteId = @PaqueteId
          AND Activo = 1
    )
    BEGIN
        RAISERROR('Este consultor ya tiene asignado este paquete.', 16, 1);
        RETURN;
    END;

    -- 5) Insertar asignación
    INSERT INTO ConsultorPaquete (ConsultorId, PaqueteId)
    VALUES (@ConsultorId, @PaqueteId);

    SELECT SCOPE_IDENTITY() AS ConsultorPaqueteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultorPaquete_Desasignar]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsultorPaquete_Desasignar]
    @ConsultorId INT,
    @PaqueteId   INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ConsultorPaquete
    SET Activo = 0
    WHERE ConsultorId = @ConsultorId
      AND PaqueteId   = @PaqueteId
      AND Activo      = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paquetes_Delete]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- DELETE (LÓGICO)
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Paquetes_Delete]
    @PaqueteId INT
AS
BEGIN

    UPDATE PaquetesServicio
    SET Activo = 0
    WHERE PaqueteId = @PaqueteId AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paquetes_GetAll]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- GET ALL
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Paquetes_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM PaquetesServicio
    WHERE Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paquetes_GetById]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- GET BY ID
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Paquetes_GetById]
    @PaqueteId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM PaquetesServicio
    WHERE PaqueteId = @PaqueteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paquetes_Insert]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ==========================================================
   PAQUETES SERVICIO (CRUD)
   ========================================================== */

--------------------------------------------------------------
-- INSERT
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Paquetes_Insert]
    @Nombre NVARCHAR(150),
    @DuracionHoras INT,
    @Costo DECIMAL(10,2),
    @Descripcion NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM PaquetesServicio WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('Ya existe un paquete con ese nombre.',16,1);
        RETURN;
    END;

    INSERT INTO PaquetesServicio (Nombre, DuracionHoras, Costo, Descripcion, Activo, FechaCreacion)
    VALUES (@Nombre, @DuracionHoras, @Costo, @Descripcion, 1, GETDATE());

    SELECT SCOPE_IDENTITY() AS PaqueteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Paquetes_Update]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- UPDATE
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Paquetes_Update]
    @PaqueteId INT,
    @Nombre NVARCHAR(150),
    @DuracionHoras INT,
    @Costo DECIMAL(10,2),
    @Descripcion NVARCHAR(500),
    @Activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PaquetesServicio
    SET Nombre = @Nombre,
        DuracionHoras = @DuracionHoras,
        Costo = @Costo,
        Descripcion = @Descripcion,
        Activo = @Activo
    WHERE PaqueteId = @PaqueteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Reportes_ConsultoresTopFacturacion]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------
-- REPORTE: TOP CONSULTORES POR FACTURACIÓN
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Reportes_ConsultoresTopFacturacion]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.ConsultorId,
        c.Nombre,
        c.AreaEspecializacion,
        c.EmailCorporativo,
        COUNT(DISTINCT cp.PaqueteId) AS TotalPaquetesAsignados,
        SUM(p.DuracionHoras) AS TotalHoras,
        SUM(c.TarifaHora * p.DuracionHoras) AS TotalFacturacionEstimada
    FROM Consultores c
    INNER JOIN ConsultorPaquete cp
        ON c.ConsultorId = cp.ConsultorId
    INNER JOIN PaquetesServicio p
        ON cp.PaqueteId = p.PaqueteId
    WHERE c.Activo = 1 AND p.Activo = 1
    GROUP BY c.ConsultorId, c.Nombre, c.AreaEspecializacion, c.EmailCorporativo
    ORDER BY TotalFacturacionEstimada DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Reportes_PaquetesPorArea]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ==========================================================
   REPORTES
   ========================================================== */

--------------------------------------------------------------
-- REPORTE: PAQUETES POR ÁREA
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Reportes_PaquetesPorArea]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.AreaEspecializacion AS Area,
        COUNT(DISTINCT c.ConsultorId) AS TotalConsultores,
        COUNT(DISTINCT cp.PaqueteId) AS TotalPaquetes,
        SUM(c.TarifaHora * p.DuracionHoras) AS TotalFacturacionEstimada
    FROM Consultores c
    INNER JOIN ConsultorPaquete cp
        ON c.ConsultorId = cp.ConsultorId
    INNER JOIN PaquetesServicio p
        ON cp.PaqueteId = p.PaqueteId
    WHERE c.Activo = 1 AND p.Activo = 1
    GROUP BY c.AreaEspecializacion
    ORDER BY Area;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_Login]    Script Date: 18/12/2025 21:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ==========================================================
   3. STORED PROCEDURES
   ========================================================== */

--------------------------------------------------------------
-- LOGIN (USUARIOS)
--------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Usuarios_Login]
    @Email NVARCHAR(150),
    @Password NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        UsuarioId,
        Email,
        PasswordHash,
        Rol,
        Activo
    FROM Usuarios
    WHERE Email = @Email
      AND PasswordHash = @Password
      AND Activo = 1;
END;
GO
USE [master]
GO
